h1 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
}
  
p {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}

h2 {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
}