
body {
  background-color: #EBEBEB;
  margin: 0;
}

.sobreNos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  padding: 70px;
  box-sizing: border-box;
}

.sobreNos .Content {
  flex: 1;
  text-align: center;
}


.sobreNos .ReactPlayer {
  flex: 1;
}

.integrantesEstilo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: '150px';
  height: '150px';
}

.DashBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartContainer, .mapContainer {
  flex-direction: row;
  background-color: #FFFFFF;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.outerChartContainer, .outerMapContainer {
  background-color: #f3f3f3;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.chartContainer, .mapContainer {
  padding: 10px;
}

.outerChartContainer, .outerMapContainer {
  padding: 15px; 
}


.chartanddash{
  display: flex;
  align-content: center;
  justify-content:center;
  flex-direction: row;
}

.chart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectContainer{
  position: relative;
}

.selectContainer select {
  background-color: #26408B; 
  color:#f3f3f3;
  border-color: transparent;
}

.monthCard{
  align-self: center;
  align-items: center;
  background-color: #ffffff;
  margin: 2%;
  width: 25%;
  height: 150px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}


